run = "npm run dev"
language = "nodejs"
entrypoint = "src/app/page.tsx"

[nix]
channel = "stable-23_11"

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
